button {
  border: unset;
  outline: unset;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.work__title, .user__title, .clients__title {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.feature__title, .work__label-title, .footer__social-title, .footer__form-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

body {
  background-color: #fff;
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo--blue {
  color: #2196f3;
}

.link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.button {
  border-radius: 4px;
  width: 200px;
  padding: 10px 0;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  color: #fff;
  background-color: #2196f3;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.header {
  border-bottom: 1px solid #ececec;
  background-color: #fff;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
}

@media screen and (min-width: 768px) {
  .header__container {
    min-height: 80px;
  }
}

.header__logo {
  display: block;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.header__menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .header__menu {
    display: none;
  }
}

.header__menu :hover,
.header__menu :focus {
  fill: #2196f3;
}

.header__menu-button {
  width: 40px;
  height: 40px;
}

.header__menu-container {
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .header__menu-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 40px;
    width: 480px;
    height: 100vh;
    overflow: hidden;
    opacity: 1;
  }
  .header__menu-container.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

@media screen and (min-width: 768px) {
  .header__menu-container {
    width: 100%;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .header__menu-close {
    display: none;
  }
}

.header__menu-close :hover,
.header__menu-close :focus {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .header__nav {
    margin-top: 48px;
    margin-bottom: auto;
  }
}

@media screen and (min-width: 768px) {
  .header__nav {
    margin-top: auto;
  }
}

@media screen and (min-width: 768px) {
  .header__site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .header__site-item {
    position: relative;
  }
  .header__site-nav .header__site-item:not(:last-child) {
    margin-right: 50px;
  }
}

.header__site-link {
  display: block;
  padding-top: 28px;
  padding-bottom: 28px;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__site-link:hover, .header__site-link:focus {
  color: #2196f3;
}

.header__site-link--current {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .header__site-link {
    font-size: 40px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .header__site-link--current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

@media screen and (max-width: 767px) {
  .header__address {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) {
  .header__address {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header__address {
    margin-top: auto;
  }
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (min-width: 768px) {
  .header__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .header__contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .header__contact-item:not(:first-child) {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 1199px) {
  .header__contact-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contact .header__contact-item:not(:last-child) {
    margin-right: 30px;
  }
}

.header__contact-link {
  color: #757575;
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .header__contact-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .header__contact-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    line-height: 1.16;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__contact-link:hover, .header__contact-link:focus {
    color: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .header__contact-link {
    padding: 28px 0;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 767px) {
  .header__contact-link--current {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}

.header__mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .header__mail-icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__mail-icon {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
}

.header__phone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .header__phone-icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__phone-icon {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}

.header__social {
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .header__social {
    display: none;
  }
}

.header__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__social-item {
  position: relative;
}

.header__social-item:not(:last-child) {
  margin-right: 10px;
}

.header__social-item:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -11px;
  bottom: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.2);
}

.header__social-item:not(:first-child) {
  margin-left: 10px;
}

.header__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.banner {
  background-color: #2f303a;
}

.banner__container {
  max-width: 1600px;
  min-height: 400px;
  margin: 0 auto 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), image-set(url(../image/bunner-mobile.jpg) 1x, url(../image/bunner-mobile-2x.jpg) 2x);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url(../image/bunner-mobile.jpg) 1x, url(../image/bunner-mobile-2x.jpg) 2x);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), image-set(url(../image/bunner-mobile.jpg) 1x, url(../image/bunner-mobile-2x.jpg) 2x);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .banner__container {
    margin: 0 auto 94px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), image-set(url(../image/bunner-tablet.jpg) 1x, url(../image/bunner-tablet-2x.jpg) 2x);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url(../image/bunner-tablet.jpg) 1x, url(../image/bunner-tablet-2x.jpg) 2x);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), image-set(url(../image/bunner-tablet.jpg) 1x, url(../image/bunner-tablet-2x.jpg) 2x);
  }
}

@media screen and (min-width: 1200px) {
  .banner__container {
    min-height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), image-set(url(../image/bunner.jpg) 1x, url(../image/bunner-2x.jpg) 2x);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url(../image/bunner.jpg) 1x, url(../image/bunner-2x.jpg) 2x);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), image-set(url(../image/bunner.jpg) 1x, url(../image/bunner-2x.jpg) 2x);
  }
}

.banner__title {
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .banner__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.banner__button {
  display: inline-block;
  vertical-align: top;
}

.feature {
  color: #212121;
}

.feature__container {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .feature__container {
    margin-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .feature__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .feature__item {
    width: calc((100% - 30px) / 2);
  }
  .feature__item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .feature__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__item {
    width: calc((100% - 3 * 30px) / 4);
  }
}

.feature__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.feature__icon {
  width: 70px;
  height: 70px;
}

.feature__title {
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .feature__title {
    text-align: center;
  }
}

.feature__text {
  color: #757575;
  line-height: 1.71;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__container {
  margin-bottom: 94px;
}

.work__title {
  margin-bottom: 50px;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__item {
  position: relative;
  padding-bottom: 0;
}

.work__list .work__item:not(:last-child) {
  margin-right: 30px;
}

.work__item-img {
  display: block;
}

.work__label {
  position: absolute;
  width: 100%;
  height: 70px;
  right: 0;
  bottom: 0;
  padding-top: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__label-title {
  color: #ffffff;
  text-align: center;
}

.user {
  background-color: #f5f4fa;
}

.user__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .user__container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.user__title {
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .user__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .user__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.user__item {
  padding-bottom: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .user__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .user__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .user__item {
    width: calc((100% - 30px) / 2);
  }
  .user__item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .user__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .user__item {
    width: calc((100% - 3 * 30px) / 4);
  }
}

.user__photo {
  width: 100%;
  margin-bottom: 30px;
}

.user__name {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.user__desc {
  margin-bottom: 16px;
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
}

.clients {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
}

.clients__title {
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .clients__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  border: 1px solid;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover, .clients__item:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .clients__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 6 * 30px) / 6);
    margin: 15px;
  }
}

.clients__link {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: #2196f3;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .footer__info {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer__info {
    margin: 60px 165px 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__info {
    margin: 60px 70px 60px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: #fff;
}

.footer__address-item {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address-item:hover {
  color: #fff;
}

@media screen and (max-width: 1199px) {
  .footer__address-item {
    text-align: center;
  }
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__social {
    margin-top: 65px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-top: 70px;
    margin-right: 93px;
    margin-bottom: 100px;
  }
}

.footer__social-title {
  margin-bottom: 20px;
  color: #fff;
}

.footer__social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 1199px) {
  .footer__form {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 70px;
    margin-bottom: 94px;
  }
}

.footer__form-title {
  margin-bottom: 20px;
  color: #fff;
}

@media screen and (max-width: 1199px) {
  .footer__form-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 1199px) {
  .footer__form-label {
    margin-bottom: 20px;
  }
}

.footer__input {
  padding: 16px;
  width: 450px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(33, 150, 243, 0);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__input:focus {
  border-color: #2196f3;
}

.footer__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input:focus::-webkit-input-placeholder {
  color: #2196f3;
}

.footer__input:focus:-ms-input-placeholder {
  color: #2196f3;
}

.footer__input:focus::-ms-input-placeholder {
  color: #2196f3;
}

.footer__input:focus::placeholder {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
    margin-right: 12px;
  }
}

.footer__form-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__form-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 40px;
}

.form__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  color: #212121;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .form__title {
    line-height: 1.15;
  }
}

.form__field {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 28px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input {
  width: 100%;
  margin: 0;
  padding: 11px 12px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  border-radius: 4px;
}

.form__field:focus-within .form__input {
  border-color: #2196f3;
}

.form__field-title {
  display: block;
  position: absolute;
  left: 0;
  top: -20px;
  font: inherit;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  width: 18px;
  height: 18px;
}

.form__field:focus-within .form__icon {
  fill: #2196f3;
}

.form__field-comment {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field-textarea {
  resize: none;
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  border-radius: 4px;
}

.form__field-comment:focus-within .form__field-textarea {
  border-color: #2196f3;
}

.form__field-textarea::-webkit-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.form__field-textarea:-ms-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.form__field-textarea::-ms-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.form__field-textarea::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.form__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.form__policy-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__policy-icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__policy-checkbox:checked + .form__policy-icon {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url(../image/svg/icon-check.svg);
  background-size: contain;
  background-position: center;
  background-origin: border-box;
}

.form__policy-title {
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .form__policy-title {
    font-size: 14px;
    line-height: 1.71;
  }
}

.agreement {
  color: #2196f3;
  border-bottom: 1px solid #2196f3;
}

.form__button {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow-y: scroll;
  -webkit-transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: relative;
  max-width: 450px;
  max-height: 609px;
  margin: auto;
  background-color: #fff;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover {
  fill: #2196f3;
}

.modal__button-icon {
  width: 18px;
  height: 18px;
  fill: #000;
}

.portfol-button {
  margin-top: 60px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .portfol-button {
    margin-top: 94px;
    margin-bottom: 50px;
  }
}

.portfol-button__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .portfol-button__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfol-button__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .portfol-button__item:nth-last-child(-n + 2) {
    margin-top: 15px;
  }
}

.portfol-button__type {
  border-radius: 4px;
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfol-button__type:hover, .portfol-button__type:focus {
  background-color: #2196f3;
  color: #fff;
}

.portfol {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfol {
    margin-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .portfol__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.portfol__item {
  border: 1px solid #eeeeee;
}

.portfol__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .portfol__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfol__item {
    width: calc((100% - 30px) / 2);
  }
  .portfol__item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfol__item {
    width: calc((100% - 2 * 30px) / 3);
  }
  .portfol__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .portfol__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.portfol__img {
  width: 100%;
}

.portfol__transition {
  position: relative;
  overflow: hidden;
}

.portfol__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfol__item:hover .portfol__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfol__overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

.portfol__title {
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfol__text {
  margin-left: 24px;
  margin-bottom: 20px;
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}
/*# sourceMappingURL=main.css.map */