.banner {
  background-color: #2f303a;
}

.banner__container {
  max-width: 1600px;
  min-height: 400px;
  margin: 0 auto 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    image-set(url(../image/bunner-mobile.jpg) 1x, url(../image/bunner-mobile-2x.jpg) 2x);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin: 0 auto 94px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      image-set(url(../image/bunner-tablet.jpg) 1x, url(../image/bunner-tablet-2x.jpg) 2x);
  }
  @media screen and (min-width: 1200px) {
    min-height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      image-set(url(../image/bunner.jpg) 1x, url(../image/bunner-2x.jpg) 2x);
  }
}
.banner__title {
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
.banner__button {
  display: inline-block;
  vertical-align: top;
}
