.banner {
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../image/bunner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
}
.banner__container {
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto 94px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.banner__title {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  @media screen and (max-width: 767px) {
    font-size: 26px;
    line-height: 1.62;
  }
  @media screen and (min-width: 768px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
.banner__button {
  display: inline-block;
  vertical-align: top;
}
