.footer {
  background-color: #2f303a;
}
.footer__container {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    align-items: center;
    justify-content: space-between;
  }
}
.footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 767px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    margin: 60px 165px 60px 0;
  }
  @media screen and (min-width: 1200px) {
    margin: 60px 70px 60px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.footer__logo {
  display: block;
  margin-bottom: 20px;

  color: #fff;
}
.footer__address-item {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: #fff;
  }
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
.footer__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-top: 65px;
  }
  @media screen and (min-width: 1200px) {
    align-items: start;
    margin-top: 70px;
    margin-right: 93px;
    margin-bottom: 100px;
  }
}
.footer__social-title {
  margin-bottom: 20px;
  @extend %title-name;
  color: #fff;
}
.footer__social-link {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer__form {
  @media screen and (max-width: 1199px) {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 94px;
  }
}
.footer__form-title {
  margin-bottom: 20px;
  @extend %title-name;
  color: #fff;
}
.footer__form-input {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}
.footer__form-label {
  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }
}
.footer__input {
  padding: 16px;
  width: 450px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(33, 150, 243, 0);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: $color_akcent;
  }
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
  &:focus::placeholder {
    color: $color_akcent;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }
}
.footer__form-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.footer__form-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
