.header {
  position: relative;
  border-bottom: 1px solid #ececec;
  background-color: #fff;
}
.header__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__logo {
  display: block;
}
.link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header__menu {
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.header__menu-button {
  width: 40px;
  height: 40px;
}
.icon-close {
  display: none;
  .header__menu.is-open & {
    display: block;
  }
}
.header__menu.is-open .icon-menu {
  display: none;
}

.menu-container {
  background-color: #fff;
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 480px;
    min-height: 796px;

    &.is-open {
      display: block;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.header__site-nav {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.header__site-item {
  position: relative;
  .header__site-nav &:not(:last-child) {
    margin-right: 50px;
  }
}
.header__site-link {
  display: block;
  padding: 32px 0;
  color: $primery_text_color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $color_akcent;
  }
  &--current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: $color_akcent;
    border-radius: 2px;
  }
  &--current {
    color: $color_akcent;
  }
}
.header__address {
  margin-left: auto;
}
.header__contact {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.header__contact-item {
  .header__contact &:not(:last-child) {
    margin-right: 30px;
  }
}

.header__contact-link {
  @media screen and (min-width: 768px) {
    display: inline-flex;
    align-items: center;
  }

  padding: 30px 0;
  color: $text_color;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $color_akcent;
  }
}
.header__mail-icon {
  @media screen and (max-width: 768px) {
    display: none;
  }
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.header__phone-icon {
  @media screen and (max-width: 768px) {
    display: none;
  }
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
