.header {
  border-bottom: 1px solid #ececec;
  background-color: #fff;
}
.header__container {
  // position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}
.header__logo {
  display: block;
}
.link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header__menu {
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
  & :hover,
  & :focus {
    fill: $color_akcent;
  }
}
.header__menu-button {
  width: 40px;
  height: 40px;
}
.header__menu-container {
  background-color: #fff;
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 1;

    &.is-hidden {
      opacity: 0;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.header__menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
  & :hover,
  & :focus {
    fill: $color_akcent;
  }
}
.header__nav {
  @media screen and (max-width: 767px) {
    margin-top: 48px;
    margin-bottom: auto;
  }
}
.header__site-nav {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.header__site-item {
  @media screen and (min-width: 768px) {
    position: relative;
    .header__site-nav &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.header__site-link {
  display: block;
  padding-bottom: 32px;
  color: $primery_text_color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $color_akcent;
  }

  &--current {
    color: $color_akcent;
  }
  @media screen and (max-width: 767px) {
    font-size: 40px;
    line-height: 1.17;
  }
  @media screen and (min-width: 768px) {
    &--current::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 4px;
      background-color: $color_akcent;
      border-radius: 2px;
    }
  }
}
.header__address {
  @media screen and (max-width: 767px) {
    margin-bottom: 64px;
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
}
.header__contact {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
  }
}
.header__contact-item {
  @media screen and (max-width: 767px) {
    &:not(:first-child) {
      margin-bottom: 32px;
    }
  }
  @media screen and (min-width: 1200px) {
    .header__contact &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.header__contact-link {
  color: $text_color;
  font-style: normal;

  @media screen and (min-width: 768px) {
    display: inline-flex;
    align-items: center;
    padding: 30px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $color_akcent;
    }
  }
  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
.header__contact-link--current {
  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $color_akcent;
  }
}
.header__mail-icon {
  @media screen and (max-width: 767px) {
    display: none;
  }
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.header__phone-icon {
  @media screen and (max-width: 767px) {
    display: none;
  }
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.header__social {
  @media screen and (min-width: 768px) {
    display: none;
  }
  margin-bottom: 48px;
}
.header__social-list {
  display: flex;
}
.header__social-item {
  position: relative;
  &:not(:last-child) {
    margin-right: 10px;
  }
  &:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -11px;
    bottom: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.2);
  }
  &:not(:first-child) {
    margin-left: 10px;
  }
}
.header__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $color_akcent;
}
