%section-title {
  color: $primery_text_color;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
%title-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
